:root {
	font-family: system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100%;
}

a {
	font-weight: 500;
	color: var(--color-primary);
	text-decoration: inherit;
	transition: color 0.25s;
}

a:hover {
	color: var(--color-primary-light);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0;
}

button {
	font-family: inherit;
	font-size: 100%;
	cursor: pointer;
}
