:root {
	font-family: system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body[data-theme='light'] {
	--color-bg: #cbd7ff;
	--color-page-bg: #ffffff;
	--color-switch-bg: #646cff;
	--color-switch-bg-hover: #747bff;
	--color-text: #213547;
	--color-primary: #646cff;
	--color-primary-light: #747bff;
	--btn-bg: #f3f3f3;
	--item-bg: #ffffff;
	--color-placeholder: #b8b8b8;
	--color-border: #e4e4e4;
}

body[data-theme='dark'] {
	--color-bg: #202020;
	--color-page-bg: #333333;
	--color-switch-bg: #646cff;
	--color-switch-bg-hover: #747bff;
	--color-text: rgba(255, 255, 255, 0.87);
	--color-primary: #646cff;
	--color-primary-light: #747bff;
	--btn-bg: #585858;
	--item-bg: #424242;
	--color-placeholder: #bebebe;
	--color-border: #757575;
}

body {
	margin: 0;
	min-height: 100vh;
	width: 100%;
	background-color: var(--color-bg);
}

a {
	font-weight: 500;
	color: var(--color-primary);
	text-decoration: inherit;
	transition: color 0.25s;
}

a:hover {
	color: var(--color-primary-light);
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0;
}

button {
	font-family: inherit;
	font-size: 100%;
	cursor: pointer;
}
