:root {
	--color-bg: #242424;
	--color-text: rgba(255, 255, 255, 0.87);
	--color-primary: #646cff;
	--color-primary-light: #535bf2;
	--border-radius: 8px;
	--btn-bg: #1a1a1a;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg: #ffffff;
		--color-text: #213547;
		--color-primary: #535bf2;
		--color-primary-light: #747bff;
		--btn-bg: #f9f9f9;
	}
}
