.search {
	width: 100%;
	padding: 0.75rem 1rem;
	border: 1px solid var(--color-border);
	border-radius: 8px;
	font-size: 1rem;
	color: var(--color-text);
	background-color: var(--item-bg);
	outline: none;
	transition:
		border-color 0.2s,
		box-shadow 0.2s,
		background-color 0.2s;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.search::placeholder {
	color: var(--color-placeholder);
}

.search:focus {
	border-color: var(--color-primary);
	box-shadow: 0 0 5px 3px rgba(100, 108, 255, 0.2);
}
