.button {
	padding: 0.8em 1.2em;
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	font-weight: 500;
	background-color: var(--btn-bg);
	color: var(--color-text);
	transition:
		border-color 0.25s,
		transform 0.1s;
	cursor: pointer;
}

.button:hover {
	border-color: var(--color-primary-light);
}

.button:active {
	transform: scale(0.98); /* Легкий эффект нажатия */
}
