.form {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.input {
	flex: 1;
	padding: 0.8em 1.2em;
	border-radius: 8px;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.8em 1.2em;

	font-weight: 500;
	background-color: #4f46e5;
	cursor: pointer;
	transition: border-color 0.25s;
}
.button:hover {
	border-color: #ffffff;
}
