.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	margin-bottom: 0.5rem;
	background-color: var(--item-bg);
	color: var(--color-text);
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.05);
	transition:
		background-color 0.2s,
		color 0.2s;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.item:hover {
	background-color: rgba(212, 212, 212, 0.05);
}

.item.completed {
	text-decoration: line-through;
	opacity: 0.6;
}
