.filters {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	margin: 1rem 0;
}

.filterBtn {
	padding: 0.2rem 0.8rem;
	border: 1px solid var(--color-primary);
	border-radius: 8px;
	background-color: transparent;
	color: var(--color-text);
	font-size: 0.95rem;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.filterBtn:hover {
	background-color: var(--color-primary-light);
	color: #fff;
	border-color: var(--color-primary-light);
}

.active {
	background-color: var(--color-primary);
	color: #fff;
	border-color: var(--color-primary);
}
