.filters {
	display: flex;
	gap: 8px;
	margin: 16px 0;
	justify-content: center;
}

.filterBtn {
	padding: 0.8em 1.2em;
	border: 1px solid rgb(0, 0, 0);
}

.active {
	background: #4f46e5;
	color: white;
	border: 1px solid #4f46e5;
}
